body{
   background-image: url(https://th.bing.com/th/id/R.69ffb6109fcae2a926c7b04514d50d57?rik=sNvLkyECN59KlA&pid=ImgRaw&r=0);
   background-repeat: no-repeat;
   background-size: cover;
}
h1{
    font-size: 70px;
    margin-top: 20px;
    color: rgb(193, 200, 200);
    font-family: 'Alkatra', cursive;
}

